.gallery{
    padding-top: 0;
     
}

.gallery-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-list__item{
    /*width: 370px;*/
    flex-basis: calc((100% - 90px) / 3);
    &:not(:first-child) {
        margin-left: 30px;
    } 
    
}
.gallery-list__top-wrapper{
    position: relative;
}

.gallery-list__top-txt{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    @include font (14px, 600, 1.14, 0.03em);
    text-align: center;
    text-transform: uppercase;
    color: var(--primary-title-color);
    
    background: rgba(47, 48, 58, 0.8);
    height: 70px;
    display: flex; 
    align-items: center; 
    justify-content: center;
 
}