@mixin font($fs, $fw, $fh, $ls) {
    font-size: $fs;
    font-weight: $fw;
    line-height: $fh;
    letter-spacing: $ls;

}

@mixin last-four($num) {
    &:nth-last-child(4n + #{$num}) {
      @content;
    }
  }