:root {
    --primary-title-color:#FFFFFF;
    --secondary-title-color: #212121;
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196F3;
    --background-accent-color: #F5F4FA;
    --background-secondary-color: #2F303A;
    --background-main-color: #FFFFFF;
    --btm-primary-color: #F5F4FA;
    --border-header-color: #ECECEC;
    --clients-logo-color:#AFB1B8;
    --wraper-produckt-color:rgba(33, 150, 243, 0.9);
}